body{
    width: 100%;
    height: 100%;
    font-family: Arial, verdana, sans-serif;
    font-weight: 700;
    color: #fbcf00;
    background-color: #000000;
    overflow: hidden;
}

.container{
    position: absolute;
    width: 21em;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -11em;
    font-size: 350%;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(10deg);
}

.text
{
    position: absolute;
    top: 100%;
    animation: scroll 30s linear 0s infinite;
}
@keyframes scroll {
    0% { top: 100%; }
    100% { top: -50%; }
}