table {
    border: solid 1px #9d9d9d;
    border-collapse: collapse;
    margin: auto;
}

th, td {
    border: solid 1px #9d9d9d;
    width: 25px;
    height: 25px;
}


.black{
    background-color: black;
}

.reverse td{
    background-color: #000;
}
.reverse .black{
    background-color: #fff;
}
