body{
  /*  margin: 0px;
    text-align: center; */
}

.main{
    width: 1600px;
    margin: auto;

}
/* block banner */

.banner{

    width: 1600px;
    height: 900px;
    background-image: url(../img/back1.jpg);
    background-attachment: fixed;
    border: 1px solid black;
}

.blokcontent{
    width: 832px;
    height: 224px;
    margin-left: 215px;
    margin-top: 531px;
}
.sertiz {

    color: #ffffff;
    font-family: "﻿Montserrat", Arial, sans-serif;
    font-size: 48px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 4px;

}

.awesome{
    color: #ffffff;
    font-family: "﻿Montserrat", Arial, sans-serif;
    font-size: 18px;
    text-align: left;
    margin-bottom: 14px;

}

.smart{
    width: 831px;
    height: 100px;
    color: #ffffff;
    font-size: 54px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid white;
    background-color: rgba(0,0,0,0.5);
    padding-top: 29px;

}

.text1{
    font-family: 'Montserrat', sans-serif;
    color: #f1ad1d;
    margin-right: 25px;
}

.text2{
    font-family: 'Montserrat', sans-serif;
}

/* end block banner */


/* block logo and menu */

.blok_logo2{
    width: 1600px;
    height: 873px;
    border: 1px solid white;
    background: url(../img/bg5.jpg);


}
.text1-block_logo2{
    color: black;
    font-family: "﻿Montserrat", Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: 72px;
    text-transform: uppercase;

}


.text2-block_logo2{
    color: black;
    font-family: "﻿Montserrat", Arial, sans-serif;
    font-size: 17px;
    text-align: center;
    margin-top: 35px;

}

.line-block_logo2{
    width: 60px;
    height: 3px;
    background-color: #f1ad1d;
    margin: auto;
    margin-top: 52px;
}
 .logo-block_logo2 {
     display: block;
     margin: auto;
     margin-top: 56px;
     margin-bottom: 98px;
 }
.nav-block_logo2{
    width: 1170px;
    margin: 0 auto;
    border-bottom: 3px solid #f1ad1d;
    padding-bottom: 22px;
    margin-bottom: 126px;

}
.href-block_logo2{
    font-family: "﻿Montserrat", Arial, sans-serif;
    text-transform: uppercase;
    vertical-align: middle;
    text-decoration: none;
    font-size: 18px;
    color: #3d3d3d;
    margin: 0 31px;
}
.logo3-block_logo2 {
    margin-right: 174px;
    vertical-align: middle;
}
.href-block_logo2-active{
        color: #f1ad1d;
}

/* end block logo and menu */

/* block foto */

.block_foto{
    width: 1600px;
    height: 873px;
    background: url(../img/bg5.jpg);
    text-align: center;
    margin-top: 12px;
}

.block3Images {
    display: inline-block;
    width: 575px;
}

.images-position{
    width: 270px;
    height: 148px;
    display: inline-block;

}

.images-img{

}

.button-img{
    width: 20px;
    height: 20px;
    background-color: red;

}

.block3text{
    display: inline-block;
    vertical-align: top;
    width: 550px;
    margin-left: 30px;
    padding: 0;
    text-align: justify;
    font: 14px "Lato";
}
.splitImg{
    margin: 15px;
}

.block3_title{
    font-family: "﻿Lato", sans-serif;
    font-size:  18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 26px;
}

.yellowtext{
    color: #f1ad1d;
}
.my-button{
    border: 0;
    width: 176px;
    height: 51px;
    color: white;
    font: 14px "Lato", sans-serif;
    font-weight: 600;
    background-color: #f1ad1d;
    display: block;
    margin-top: 38px;

}

.block2text

{
    width: 100%;
    height: 380px;
    border: 1px solid black;
    background-image: url(../img/bg-black.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    margin-top:124px;
}


.text{
    margin-top: 151px;
    font: 700 22px/1 "Montserrat",Arial,sans-serif;
    text-transform: uppercase;
}
.yellow-text{
    color: #f1ad1d;
}
.bottomline{
    width: 60px ;
    height: 2px;
    background-color: #f1ad1d;
    margin: 60px auto 0 ;
}

/* end block foto */


/* block blockicons */

.blockicons{
    width: 1600px;
    height: 700px;
    background: url(../img/bg5.jpg);
    text-align: center;
}

.upboxmargin{
    margin-top: 50px;
}

.boxwithicons{

    display: inline-block;
    width: 271px;
    height: 423px;

    border-bottom: 3px solid #000000;
    vertical-align: middle;
}

.box-box{
    display: inline-block;
    width: 28px;
}

.darkbox{
    width: 271px;
    height: 34px;
    background-color: #333333;
    color: #ffffff;
    font-family: "﻿Montserrat", Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding-top: 22px;
}

.imagebox{
    margin-top: 30px;
    margin-bottom: 31px;

}

.texabout{
    font: 14px "Lato", sans-serif;
    height: 61px;
}

.icons23{
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 31px;
}

.yell-line{
    width: 64px;
    height: 3px;
    background-color: #f1ad1d;
    margin: 26px auto 28px;
}

.textabout2{
    font: 18px "Lato", sans-serif;
    margin-bottom: 16px;
}

.textabout3{
    font: 14px "Lato", sans-serif;
}

/* end block blockicons */


/* block all photos-people */


.allphotospeople{
    width: 1600px;
    height: 700px;
    background: url(../img/bg5.jpg);
    text-align: left;

}


.boxwithpeople{
    width: 1170px;
    margin: 0 auto;
    margin-top: 50px;

}

.people{
    width: 193px;
    height: 178px;
    background-image: url(../img/people.png);
    float: left;
    margin-right: 2px;
    margin-top: 2px;

}

.text-in-photo{
    display: inline-block;
    background-color: #333333;
    margin-top: 121px;
    margin-left: 14px;
    text-align: left;

}


.text-photo1{
     font: 14px "Lato", sans-serif;
     color: #ffffff;
     line-height: 42px;
    margin-left: 15px;


 }
.text-photo2{
    font: 14px "Lato", sans-serif;
    color: #f1ad1d;
    line-height: 42px;
    margin-right: 52px;

}

/* end block all photos-people */

/* block pseudoelement */

.psevdoelement{
    width: 1600px;
    height: 500px;
    background: url(../img/bg5.jpg);
}

.psevdobox{
    width: 1180px;
    margin: 0 auto;
    margin-top: 50px;
}

.psevdobox-box1{
    width: 370px;
    height: 210px;
    float: left;
    margin-right: 30px;
}

.psevdobox-box2{
    width: 370px;
    height: 210px;
    float: left;
    margin-right: 30px;
}

.psevdobox-box3{
    width: 370px;
    height: 210px;
    float: left;
}

.psevdobox-line{
    height: 48px;
    position: relative;
}

.orangeline{
    height: 3px;
    background-color: #f1ad1d;
    width: 305px;
    position: absolute;
    right: 0;
    top: 34px;
}

.orangeline:before{
    content: url(../img/kav1X.jpg);
    position: absolute;
    top: -33px;
    left: -60px;

}

.psevdotext{
    text-align: left;
    position: absolute;
    top: 60px;
    font: 14px "Lato", sans-serif;
}

.psevdofoto{
    height: 90px;
    width: 370px;
    border-top: 3px solid black;
    position: absolute;
    top: 140px;
    text-align: left;
}

.psfoto{
    margin-top: 15px;
    margin-right: 15px;
    float: left;
}

.psevdo-zagolovok1{
    font: 14px "Lato", sans-serif;
    font-weight: 900;
    margin-top: 20px;
    display: inline-block;
}

.psevdo-zagolovok2{
    font: 14px "Lato", sans-serif;
}

/* end block pseudoelement */

/* block forma */

.forma{
    width: 1600px;
    height: 1400px;
    background: url(../img/bg5.jpg);
}

.search{

    margin: 50px auto 0;
}

.form-all{
    border: 1px solid #c7c7c7;
    width: 770px;
    margin: 0 auto;
}

.searchtext{
    width: 598px;
    height: 60px;
    font: 18px "Lato", sans-serif;
    font-style: italic;
    display: inline-block;
    padding: 0px;
    text-indent: 30px;
    border: 0px;


}

.searchbutton{
    width: 172px;
    height: 64px;
    background-color: #f1ad1d;
    display: inline-block;
    border: 0px;
    font: 18px "Lato", sans-serif;
    font-weight: bold;
    color: white;
    margin-left: -4px;
    cursor: pointer;
}

.form2{
    width: 574px;
    margin-left: 214px;
    margin-top: 50px;
    text-align: left;
    float: left;

}

.sendus{
    font: 18px "﻿Montserrat" , "Lato", sans-serif;
    font-weight: bold;
    background-color: #333333;
    color: white;
    width: 380px;
    text-align: left;
    padding-left: 15px;
    padding-top: 22px;
    padding-bottom: 20px;

}

.orangetext{
    color: #f1ad1d;
}

.text-up-form{
    font: 14px "Lato", sans-serif;
    margin-top: 23px;
    margin-bottom: 26px;
    display: inline-block;
}

.text1-form{
    width: 270px;
    height: 43px;
    font: 18px "Lato", sans-serif;
    font-style: italic;

    padding: 0px;
    text-indent: 30px;
    border: 1px solid #c7c7c7;
}

.email1{
    width: 270px;
    height: 43px;
    font: 18px "Lato", sans-serif;
    font-style: italic;

    padding: 0px;
    text-indent: 30px;
    border: 1px solid #c7c7c7;
}

.big-text-area{
    width: 570px;
    height: 184px;
    font: 18px "Lato", sans-serif;
    font-style: italic;
    padding: 0px;
    text-indent: 30px;
    border: 1px solid #c7c7c7;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
}

.searchbutton2{
    width: 118px;
    height: 43px;
    background-color: #f1ad1d;
    display: inline-block;
    border: 0px;
    font: 14px "Lato", sans-serif;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    margin-right: 24px;
}
/* end block forma */

