.product{
    width: 280px;
    background-color: white;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    padding: 5px;
    position: relative;

    &__photo{
        text-align: center;
    }

    &__favorite{
        font-size: 25px;
        color: #7c7c7c;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        
    }

    &__title{
        text-align: center;
        font-size: 17px;
        font-weight: 700;
        color: #7c7c7c;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    &__article-color{
        text-align: center;
        padding-bottom: 10px;
        font-size: 13px;
        color: #7c7c7c;
        font-weight: 300;
    }
    &__article{
        text-align: center;
        margin-right: 10px;
    }
    &__color{
        text-align: center;
    }

    &__price{
        text-align: center;
        padding-bottom: 10px;

    }

    &__price-name{
        font-size: 15px;
        font-weight: 300;
        color: #7c7c7c;
    }
    &__price-value{
        font-size: 25px;
        color: #d61f0c;
        font-weight: 500;
    }
    &__price-uah{
        color: #d61f0c;
        font-weight: 500;
    }

    &__button{
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

}

.color--active{
    color:rgb(255, 220, 23);
}