a {
    text-decoration: none;
}

.container{
    width: 1280px;
    height: 100%;
    margin: auto;
}

/*logo*/

.headlogo{
    font-family:  "﻿MyriadPro", Arial, sans-serif;
    font-size: 70px;
    }

.logotext{
    display: block;
    width: 292px;
    height: 74px;
    margin-top: 61px;
    margin-bottom: 45px;
}

.blue{
    color: #4bcaff;
}

.dark{
    color: #000000;
}

/*upmenu*/

.upmenu{
    height: 69px;
    background-color: #35444f;
    text-align: center;
}

.amenu{
    color: #ffffff;
    display: inline-block;
    font-family:  "﻿MyriadPro", Arial, sans-serif;
    font-size: 24px;
    padding-left: 42px;
    padding-right: 42px;
    padding-top: 23px;
    padding-bottom: 22px;
}

.amenu:hover {
    color: #ffffff;
    background-color: #222f3a;
    padding-left: 41px;
    padding-right: 41px;
    padding-top: 23px;
    padding-bottom: 22px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

/*bottom-menu*/

.bottom-menu {
    background-color: #b4b7ba;
    text-align: left;
    margin-bottom: 30px;
}

.left-box{
    margin-left: 40px;
}

.a2menu{
      color: #0c1927;
      display: inline-block;
      font-family:  "﻿MyriadPro", Arial, sans-serif;
      font-size: 28px;
      padding-top: 21px;
      padding-bottom: 20px;
      margin-right: 20px;
      vertical-align: middle;
  }

.a2menu:hover{
    color: #3181a6;
    text-decoration: underline;
}

.copyr{
    color: #0c1927;
    display: inline-block;
    font-family:  "﻿MyriadPro", Arial, sans-serif;
    font-size: 24px;
    margin-left: 125px;
    vertical-align: middle;
}

/*central block*/

.central-container{
    width: 1280px;
    margin-top: 51px;
    margin-bottom: 51px;
    font-size: 0px;
}

.left-container{
    display: inline-block;
    margin-right: 51px;
}

.nav-menu-left{
    font-family:  "﻿MyriadPro", Arial, sans-serif;
    font-size: 26px;
}

.left-menu{
    border: 1px solid black;
    width: 342px;
    vertical-align: top;
}

.li-nav a{
    padding-left: 43px;
    padding-top: 28px;
    padding-bottom: 28px;
    display: block;
    color: #485863;
}

.li-nav a:hover {
    background-color: #dbdbdb;
    padding-left: 69px;
    color: #000000;
}

.right-container{
    width: 885px;
    display: inline-block;
    vertical-align: top;
}

.imagebox{
    border: 1px solid black;
    width: 883px;
    height: 529px;
    text-align: center;
    position: relative;
}

.kartinkabox{
    width: 320px;
    height: 381px;
    /*overflow:hidden;  */
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.kartinka{
    transition: all 1s ease-out;
}

.kartinka:hover{
    transform: scale(1.2);
}

.paragraf1{
    font-family:  "﻿MyriadPro", Arial, sans-serif;
    font-size: 16px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    line-height: 25px;
}

.paragraf2{
    font-family:  "﻿MyriadPro", Arial, sans-serif;
    font-size: 16px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    line-height: 25px;
}
