.container{
    font-family: 'Open Sans', sans-serif;
/*    width: 1900px;
    margin: 0 auto; если нужен фикс ширина */
}

a{
    text-decoration: none;
    color: #fff;
}
/*up menu*/

.navbar{
    height: 70px;
    margin: 0 auto;
    background-color: #1d2124;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.top-navbar{
    background-color: #9d9d9d;
    justify-content: center;
}

.logo{
    height: 70px;
    display: flex;
    align-items: center;
}

.logo a{
    height: 100%;
    display: block;

}

.logoimg {
    background-color: #1a1d20;
    width: 70px;
    height: 70px;
    text-align: center;

}

.img-logo{
    margin-top: 22px;
}

.logosearsh{
    display: block;
    margin: 27px auto;
}

.search a{
    height: 100%;
    display: block;

}

.search{
    width: 70px;
    height: 70px;
    background-color: #1a1d20;

}

.logoname{
    font-size: 22px;
    font-weight: bold;
    margin-left: 6px;
}

.menu-item{
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 18px;
    margin-right: 19px;
}

/*end up menu*/

/*first banner*/

.banner-latest{
    height: 375px;
    background: url("../images/header-bg.jpeg") no-repeat 50% 140% fixed;
    text-align: center;
    overflow: hidden;
}

.latest-text{
    text-transform: uppercase;
    font-size: 27px;
    color: #fff;
    margin-top: 127px;
    margin-bottom: 44px;
    display: flex;
    justify-content: center;
}

.button-box{
    display: flex;
    justify-content: center;
}

.button{
    width: 170px;
    height: 55px;
    background-color: #89ca62;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
}

.button:last-child{
    background-color: #14b9d5;
    margin-left: 20px;
}

/*end first banner*/

/*most popular*/
.most-popular-box{
    background-color: #f2f2f2;
    height: 1030px;
    text-align: center;
    overflow: hidden;

}

.most-popular-box-button {
    background-color: #f2f2f2;

    text-align: center;
    overflow: hidden;
}

.most-popular-text{
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 700;
    color: #18b4cf;
    margin-top: 55px;
    margin-bottom: 52px;
}

.most-item-box{
    width: 1170px;
    height: 860px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    align-content: space-between;
}

.most-item{
    width: 370px;
    background-color: #ffffff;
    margin-bottom: 31px;
}

.most-box-text{
    font-size: 18px;
    font-weight: 700;
    color: #353a3d;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 22px;
}

/*end most popular*/

/*banner our most*/

.banner-our-most{
    height: 590px;
    background: url("../images/parallax-bg.jpeg") no-repeat 100% 100% fixed;
    text-align: center;
    overflow: hidden;
}

.our-most-text{
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    margin-top: 201px;
    margin-bottom: 55px;
}

.our-most-line{
    width: 60px;
    height: 3px;
    background-color: #169cb4;
    margin: 0 auto;
}

.grid-container-logo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    width: 900px;
    margin: 0 auto;
    margin-top: 58px;
}

/*end banner our most*/

/*rated-news*/

.rated-news{
    padding-bottom: 50px;
    text-align: center;
    overflow: hidden;
}

.grid-container-rated{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(271px, 1fr));
    align-items: center;
    margin: 0 auto;
}

.grid-container-news{
    display: grid;
    grid-template-areas:
            "prophecy prophecy prophecy nebula"
            "western western grand grand"
            "wander wander twin twin"
            "prism kings kings kings";
  /*  grid-template-columns: 277px 242px 242px 277px;
    grid-template-rows: 260px 417px 417px 260px;

   */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 42px;
    grid-column-gap: 36px;
    width: 1150px;
    height: 1480px;
    margin: 0 auto;
}

.prophecy{
    grid-area: prophecy;
    text-align: justify;
}

.img-grid{
    display: inline-block;

}

.prophecy-box{
    display: inline-block;
    vertical-align: top;
    width: 290px;
    text-align: right;
    padding-right: 27px;
    padding-left: 27px;
    color: #353a3d;
}

.head-prophecy{
    margin-top: 42px;
    margin-bottom: 22px;
    font-size: 18px;
    font-weight: 700;
}

.text-prophecy{
    font-size: 14px;
    line-height: 140%;
}

.nebula{
    grid-area: nebula;
}

.nebula-text{
    font-size: 18px;
    font-weight: 700;
    margin-top: 14px;
    color: #353a3d;
}

.western{
    grid-area: western;

}

.western-box{
    text-align: right;
    padding-right: 27px;
    padding-left: 27px;
    color: #353a3d;
}

.head-western{
    margin-top: 20px;
    margin-bottom: 22px;
    font-size: 18px;
    font-weight: 700;
}

.text-western{
    font-size: 14px;
    line-height: 140%;
}

.grand{
    grid-area: grand;
}

.wander{
    grid-area: wander;
}

.twin{
    grid-area: twin;
}

.prism{
    grid-area: prism;
}

.kings{
    grid-area: kings;
    text-align: justify;
}

.news{
    background-color: #f9f7f7;
}
/*end rated-news*/

/*botoom*/

.bottom{
    height: 80px;
    background-color: #1d2124;
    text-align: center;
}

.grid-bottom-box{
    width: 1170px;
    display: inline-grid;
    grid-template-columns: auto 38px 64px;
    grid-template-rows: 80px;
    align-items: center;
    justify-items: left;
}

.bottom-text{
    font-size: 13px;
    color: white;
    text-align: left;
}

/*end bottom*/

#inTop {
    position: fixed;
    right: 15px;
    bottom: 15px;
    outline: none;
    display: none;
}

#hide-button{
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

