.products-wrapper-cart{
    width: 1125px;
    margin: 0 auto;
    padding: 10px;
}

.cart-item{
    padding: 10px;
    margin-top: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.cart-title{
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.products-summ{
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: right;
}