@font-face {
    font-family: 'Verdana Bold';
    src: url('Verdana-Bold.eot');
    src: url('Verdana-Bold.eot?#iefix') format('embedded-opentype'),
    url('Verdana-Bold.woff') format('woff'),
    url('Verdana-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a{
    text-decoration: none;
    color: #fff;
}

.container{
    background-image: url("../images/background.png");
    max-width: 1366px;
    height: 768px;
    margin: 0 auto;
    overflow: hidden;
}

.headcontent{
    width: 1065px;
    margin: 49px auto 0px;
    overflow: hidden;
}

.logoblock{
    width: 170px;
    height: 44px;
    float: left;
    color: #fff;
    text-decoration: none;
}

.logo{
    width: 46px;
    height: 44px;
    background-image: url("../images/logo.png");
    margin-right: 15px;
    float: left;
}

.milan{
    font-family: "Verdana Bold", Courier, Arial, sans-serif;
    font-size: 29px;
    display: inline-block;
    text-transform: uppercase;
    line-height: 22px;
}

.holidays{
    font-family: "Verdana Bold", Courier, Arial, sans-serif;
    font-size: 18px;
    display: inline-block;
    text-transform: uppercase;
    line-height: 13px;
    margin-top: 6px;
}

.logo-all:hover .milan, .logo-all:hover .holidays{
    color: #f26522;
}

.logo-all:hover .logo{
    background-image: url("../images/logo2.png");
}

.contaktblock{
    width: 270px;
    float: right;
    color: #fff;
}

.contact{
    text-align: right;
}

.mail{
    font-family: Verdana, Arial, sans-serif;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 5px;
    margin-top: 7px;
    display: inline-block;


}

.phone{
    font-family: Verdana, Arial, sans-serif;
    font-size: 18px;
    line-height: 14px;
    display: inline-block;

}


.imagebox{
    width: 1065px;
    margin: 49px auto 0px;
    text-align: center;
    overflow: hidden;
}

.img{
    width: 313px;
    height: 243px;
    float: left;
}

.box-image{
    width: 313px;
    height: 206px;
    overflow: hidden;
    position: relative;
}

.orange-box{
    width: 313px;
    height: 63px;
    background-color: #f26522;
    position: absolute;
    bottom: -63px;
    text-align: left;
    transition: 0.5s;
}

.image-active:hover .image-border-text{
    color: #f26522;
}

.image-active:hover .orange-box{
    bottom: 0px;
}

.from{
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
    margin-left: 21px;
    margin-top: 15px;
    display: block;
}

.euro{
    font-family: Verdana, Arial, sans-serif;
    font-size: 20px;
    margin-left: 21px;
    margin-top: 3px;
    display: inline-block;
}

.view{
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    display: inline-block;
    margin-left: 126px;
}


.view:after {
    content: " ";
    background: url(../images/arrow.png);
    display: block;
    height: 10px;
    width: 7px;
    position: relative;
    top: -11px;
    right: -100px;
}

.img:nth-child(1) {
    margin-right: 63px;
    margin-bottom: 55px;
}

.img:nth-child(2){
    margin-right: 63px;
    margin-bottom: 55px;
}

.img:nth-child(3) {
    margin-bottom: 55px;
}

.img:nth-child(4) {
    margin-right: 63px;
    margin-bottom: 57px;
}

.img:nth-child(5){
    margin-right: 63px;
    margin-bottom: 57px;
}

.img:nth-child(6) {
    margin-bottom: 57px;
}

.image-border{
    border: 3px solid transparent;
    border-image: linear-gradient(to top, transparent 0%, #ffffff 100%);
    border-image-slice: 1;
}

.image-border-text{
    font-family: Verdana, Arial, sans-serif;
    font-size: 18px;
    display: inline-block;
    margin-top: 20px;
}

.copy{
    width: 351px;
    height: 12px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 12px;
}



