body{
    background-color: #3d3d3d;

}

.maps{
    margin: 0 auto;
    margin-top: 50px;
    width: 600px;
    height: 600px;
    background-image: url("../img/concert-map.svg");
    position: relative;
}

.point{
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.redpoint{
    background-color: red;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 5px;
}

@keyframes scaling {
    0%   { transform: scale(0); }
    10%  { transform: scale(0.25); }
    20%  { transform: scale(0.5); }
    30%  { transform: scale(0.75); }
    40%  { transform: scale(1); }
    50%  { transform: scale(1.25); }
    60%  { transform: scale(1.5); }
    70%  { transform: scale(1.75); }
    80%  { transform: scale(2); }
    90%  { transform: scale(2.25); }
    100% { transform: scale(2.5); }
}

.redpoint:after , .redpoint:before{
    content: '';
    position: absolute;
    opacity: 50%;
    left: -3px;
    top: 0px;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 10px;
    border: 2px solid red;
    animation: scaling 2s infinite;
}

.redpoint:before{
    animation-delay: 1s;
}

.point:hover .redpoint:before{
    animation-play-state: paused;
    visibility: hidden;
}

.point:hover .redpoint:after{
    animation-play-state: paused;
    visibility: hidden;
}

.boxtickets{
    width: 100px;
    height: 60px;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-top: -50px;
    visibility: hidden;
    margin-top: -76px;
    margin-left: 0px;
    visibility: hidden;
    position: relative;

}

.boxtickets::after {
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    left: 5px;
    bottom: -10px; /* Положение треугольника */
    border: 5px solid transparent; /* Прозрачные границы */
    border-top: 5px solid black; /* Добавляем треугольник */
}

.text1{
    padding-left: 5px;
    padding-bottom: 3px;
    font-size: 10px;
    display: inline-block;
}

.buytic{
    width: 80%;
    margin: 0 auto;
    font-size: 10px;
    background-color: #f1ad1d;
    padding: 5px;
    text-align: center;
}

.point:hover .boxtickets {
    visibility: visible;
}




.position1{
    position: absolute;
    top: 100px;
    left: 100px;
}

.position2{
    position: absolute;
    top: 200px;
    left: 200px;
}

.position3{
    position: absolute;
    top: 300px;
    left: 300px;
}

.position4{
    position: absolute;
    top: 400px;
    left: 400px;
}