body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.container {
    height: 100vh;
    background-image: url(Backgrounds_Matrix_background_in_Chinese_096001_.png);
    background-size: cover;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    

}
    
#container__button{
    background-color: #106410;
    outline: none;
    border: 0px solid black;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    margin-bottom: 20px;
}

#container__button:hover{
    background-color: #093a09;
}

.container_text {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
}