ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
    flex-basis: inherit;
    flex-grow: inherit;
    justify-content: center;
}

.tabs-title {
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;
}

.tabs-title.active {
    background-color:#937341 ;
    color: #23201D;
}

.tabs-content {
    position: relative;
}

.tabs-content li {
    opacity: 0;
    position: absolute;
    transition: all 0.2s ease-in;
}
.tabs-content li:first-child {
    opacity: 1;
}