body{
    margin: 0px;
    text-align: center;
}

.main{
    width: 1280px;
    height: 1626px;
    margin: auto;
    font-family: 'Roboto','Courier';
    letter-spacing: 2px;
}

.upmenu {
    height: 55px;
    font-size: 14pt;
    font-weight: 900;
    color: #16A085;
    font: bold;
    padding-top: 26px;
    text-transform: uppercase;

}

.linkmenu{
    margin-right: 30px;
    margin-left: 30px;
    text-decoration: none;
    color: inherit;
}

.images {
    width: 1280px;
    height: 790px;
}

.textbox {
    width: 1130px;
    height: 600px;
    background-image: url(../images/fon1x.png);
    padding: 30px 75px 0px;
}

.zagolovok {
    text-transform: uppercase;
    font-size: 18pt;
    font-weight: 900;
    margin-bottom: 20px;
}

.text {
    font-size: 13pt;
    font-weight: 900;
    line-height: 1.5;
    margin-top: 40px;
    margin-bottom: 40px;
}

.knopka{
    background-color: #16a085;
    border: none;
    border-radius:5px;
    color: white;
    letter-spacing: 2px;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.footer {
    text-align: right;
    height: 106px;
    font-size: 14pt;
    font-weight: 900;
    font: bold;
}

.cop {
    padding-right: 60px;
    padding-top: 54px;
}