@font-face {
    font-family: 'Verdana Bold';
    src: url('Verdana-Bold.eot');
    src: url('Verdana-Bold.eot?#iefix') format('embedded-opentype'),
    url('Verdana-Bold.woff') format('woff'),
    url('Verdana-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a{
     text-decoration: none;
     color: #fff;
 }

.container{
    width: 100vw;
    height: 100vh;
    background-image: url("../images/rana-sawalha-364253-unsplash.png");
    background-size: cover;
}

.head{
    width: 100%;
    height: 56px;
    background-color: rgba(0,0,0, 0.41);
}

.logoblock{
    margin-left: 81px;
    margin-top: 18px;
    text-transform: uppercase;
    font-family: "Verdana Bold", Arial, sans-serif;
    font-size: 20px;
    float: left;
}

.container-head-logo{
    color: #fff;
    transition: all 0.5s ease-out;
}

.logoblock:hover .container-head-logo{
    color: #3cb878;
}

.welcome-text{
    margin-right: 75px;
    margin-top: 21px;
    color: #fff;
    font-family: "Verdana", Arial, sans-serif;
    font-size: 14px;
    float: right;
}

.welcome-link{
    display: inline-block;
    color: #3cb878;
}

.welcome-link:after {
    content: '';
    width: 0;
    height: 1px;
    display: block;
    background: #3cb878;
    transition: 300ms;
}

.welcome-link:hover:after {
    width: 100%;
}


.head-line{
    width: 1px;
    height: 19px;
    opacity: 0.1;
    background-color: #fff;
    margin-right: 24px;
    margin-top: 19px;
    float: right;
}

.icon-sprite{
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    float: right;
}

.calendar{
    width: 19px;
    height: 19px;
    background-position: 0 0;
    margin-top: 19px;
    margin-right: 28px;
}

.forum{
    width: 28px;
    height: 20px;
    background-position: -38px 0;
    margin-top: 19px;
    margin-right: 28px;
}

.map{
    width: 20px;
    height: 20px;
    background-position: -94px 0;
    margin-top: 19px;
    margin-right: 25px;
}

a.link-sprite-map:hover .map{
    background-position: -114px 0;
}

a.link-sprite-forum:hover .forum{
    background-position: -66px 0;
}

a.link-sprite-calendar:hover .calendar{
    background-position: -19px 0;
}

.content-form{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 18px 0 rgba(0,0,0,0.49);
    width: 444px; /*задаем ширину блока*/
    height: 584px; /*задаем высоту блока*/
    transform: translate(-50%, -50%);
    position: absolute;
    top: calc(50% + 56px/2);
    left: 50%;
}

.content-form-inside{
    margin: 29px 61px 32px;
}

.sign-up{
    font-family: "Verdana", Arial, sans-serif;
    font-size: 20px;
    float: left;
}

.greenbox{
    height: 18px;
    width: 18px;
    background-color: #3cb878;
    position: absolute;
    left: 0;
    right: 0;
}

.log-in{
    float: right;
}

.log-in-link {
    font-family: "Verdana", Arial, sans-serif;
    font-size: 14px;
    margin-top: 5px;
    color: #3cb878;
    display: inline-block;
}

.log-in-link:after {
    content: '';
    width: 0;
    height: 1px;
    display: block;
    background: #3cb878;
    transition: 300ms;
}

.log-in-link:hover:after {
    width: 100%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.button{
    clear: both;
    margin-top: 15px;
    text-align: left;
}

.facebook{
    width: 157px;
    height: 46px;
    background-color: #305db8;
    border-radius: 3px;
    float: left;
    transition: all 1s ease-out;
}

.facebook:hover{
    background-color: #264b96;
}

.google{
    width: 157px;
    height: 46px;
    background-color: #df4a32;
    border-radius: 3px;
    float: right;
    transition: all 1s ease-out;
}

.google:hover{
    background-color: #c3412c;
}

.logo-button{
    margin-left: 20px;
    margin-top: 13px;
    background-image: url("../images/fb.png");
    margin-right: 17px;
    width: 10px;
    height: 20px;
    float: left;
}

.logo-button-google{
    margin-left: 13px;
    margin-top: 15px;
    background-image: url("../images/google.png");
    margin-right: 9px;
    width: 25px;
    height: 16px;
    float: left;
}

.line-button{
    width: 1px;
    height: 28px;
    margin-top: 9px;
    opacity: 0.1;
    background-color: #000;
    float: left;
}

.fbtext{
    font-family: "Verdana", Arial, sans-serif;
    font-size: 16px;
    color: #fff;
    margin-left: 18px;
    margin-top: 15px;
    display: inline-block;
}

.lineor{
    clear: both;
    text-align: center;
    margin-top: 25px;
}

.gor-line{
    width: 135px;
    height: 1px;
    background-color: #eaeaea;
    display: inline-block;
    margin-bottom: 3px;
}

.or{
    font-family: "Verdana", Arial, sans-serif;
    font-size: 14px;
    color: #848484;
    margin-right: 19px;
    margin-left: 18px;
    display: inline-block;
}

.form-style {
    width: 320px;
    height: 46px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    text-indent: 18px;
    margin-top: 9px;
    border: 1px solid #eaeaea;
    border-radius: 2px;
}

.form-style:focus{
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.21);
    border: 1px solid #eaeaea;
    outline: none;
}

.checkbox{
    display: inline-block;
    vertical-align: middle;
}

.checkbox-text{
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
}

.checkbox-one {
    position:relative;
    padding-left: 0;
    margin-top: 22px;
    margin-bottom: 14px;
}

.checkbox-one input[type=checkbox] {
    display:none;
}

.checkbox-one label:before {
    content:'';
    display:inline-block;
    vertical-align: middle;
    height:20px;
    width:20px;
    background-image: url("../images/checkbox_empty.png");
    margin-right: 5px;
    cursor: pointer;
}

.checkbox-one input[type=checkbox]:checked + label:before {
    content:'';
    display:inline-block;
    height:20px;
    width:20px;
    background-image: url("../images/checkbox.png");
    margin-right: 5px;
    cursor: pointer;
}


a.terms-link {
    color: #3cb878;
    display: inline-block;
}

a.terms-link:after {
    content: '';
    width: 0;
    height: 1px;
    display: block;
    background: #3cb878;
    transition: 300ms;
}

a.terms-link:hover:after {
    width: 100%;
}

.form-style::-webkit-input-placeholder {color:#cbcbcb}
.form-style::-moz-placeholder          {color:#cbcbcb}/* Firefox 19+ */
.form-style:-moz-placeholder           {color:#cbcbcb}/* Firefox 18- */
.form-style:-ms-input-placeholder      {color:#cbcbcb}


.searchbutton{
    width: 322px;
    height: 46px;
    background-color: #3cb878;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    color: white;
    cursor: pointer;
    border: 1px solid #3cb878;
    border-radius: 3px;
    margin-top: 9px;
    transition: all 1s ease-out;
}

.searchbutton:hover{
    background-color: #329a65;
    color: #fff;
}