#circle-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.circle-one{
    border-radius: 50%;
    margin: 5px;
    border: solid black 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}