.btn-open-modal{
    width: 300px;
	height: 50px;
	margin: 0 10px;
    border-radius: 5px;
    border: none;
	cursor: pointer;
	outline: none;
	font-size: 20px;
	color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

.btn-modal{
    width: 100px;
	height: 40px;
	margin: 0 10px;
    border-radius: 5px;
    border: none;
	cursor: pointer;
	outline: none;
    font-size: 15px;
    color: white;
    font-weight: 500;
}

.close-icon{
	cursor: pointer;
}