@import '../node_modules/reset-css/sass/reset';
@import '../src/components/Button/Button';
@import '../src/components/Modal/Modal';




body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content-wrapper {
  display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 250px;
	max-width: 1200px;
	margin: 0 auto;
}