.form-checkout{
    padding: 50px;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-checkout-flex {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.submit-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}