.latest-instagram{
  background-color: #f7f7f7;
  &__wrapper{
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 47px;
  }
  &__title-box{
    @include flex(space-between);
  }
  &__first-title{
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: $main-title-color;
  }
  &__second-title{
    font-weight: bold;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    color: $main-title-color;
  }

}

.image-inst-wrap{
  @include flex(space-between);
  padding-top: 24px;
  padding-bottom: 40px;
  &__item{
    width: 24%;
  }
}


@media screen and (max-width: 768px) {

  .latest-instagram{
    &__second-title{
      display: none;
    }

  }
  .image-inst-wrap{
    &__item{
      width: 32%;
    }
    &__item:nth-child(4){
      display: none;
    }
  }
}

@media screen and (max-width: 320px) {

  .image-inst-wrap{
    &__item{
      width: 100%;
    }
    &__item:nth-child(2){
      display: none;
    }
    &__item:nth-child(3){
      display: none;
    }
  }
}