$head-menu-color: #5C5C5C;
$head-menu-hover-color: #57A4A4;

$main-title-color: #4E4E4E;
$main-comment-color: #7C7C7C;
$main-text-color: #5C5C5C;

$header-menu: #F5F5F5;
$header-menu-bg: #ffffff;

$black-square-bg: #0c1927;

$footer-bg-color: #000000;
$footer-title-color: #FEFEFE;
$footer-text-color: #B9B9B9;

$footer-rss-color: #F8902E;
$footer-fb-color: #39599F;
$footer-twitter-color: #45B0E3;
$footer-dribble-color: #D97AB0;
$footer-pinterest-color: #CC212C;

