.container{
    width: 1192px;
    height: 736px;
    background-color: #3a4965;
    margin: 0 auto;
    overflow: hidden;
    font-family: 'Arimo', Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

table{
    text-align: center;
    background-color: #fafafa;
    margin-top: 23px;
    margin-left: 22px;

}

th, td {
    padding-top: 22px;
    padding-bottom: 22px;
    vertical-align: middle;
}

.choose{
    display: block;
}

.price{
    display: block;
    font-size: 30px;
    margin-top: 4px;
}

.color-one{
    background-color: #f2f2f2;
}

.color-two{
    background-color: #e3e3e3;
}

.pricing{
    width: 310px;
    color: #484848;
    font-weight: 700;
    font-size: 18px;

}

.standard{
    width: 277px;
    background-color: #89c331;
    font-size: 24px;
    color: #fff;
    font-weight: 700;

}

.ultimate{
    width: 277px;
    background-color: #f04a56;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
}

.premium{
    width: 277px;
    background-color: #20807c;
    font-size: 24px;
    color: #fff;
    font-weight: 700;
}

.price-up{
    font-size: 60px;
    font-weight: 700;
    display: inline-block;
    margin-left: 33px;

}

.coins{
    font-size: 24px;
    font-weight: 700;
    position: relative;
    top: -25px;
}

.months{
    position: relative;
    font-size: 18px;
    left: -34px;
    top: -3px;
}

.button{
    width: 192px;
    height: 49px;
    background-color: #484848;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Arimo', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.button-first{
    border-bottom: 7px solid #404040;
    border-top: 7px solid #484848;
}

.bottom-fist-cell{
    background-color: #dddddd;
}

.button-two{
    background-color: #89c331;
    border-bottom: 7px solid #79b027;
    border-top: 7px solid #89c331;
}

.button-three{
    background-color: #f04a56;
    border-bottom: 7px solid #df3a46;
    border-top: 7px solid #f04a56;
}

.button-for{
    background-color: #20807c;
    border-bottom: 7px solid #16736f;
    border-top: 7px solid #20807c;
}

.fas{
    color: #848484;
    font-size: 24px;
    margin-right: 12px;
}

.storage{
    display: inline-block;
    position: relative;
    top: -2px;
}

.col2{
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}

.col3{

    border-right: 1px solid #d3d3d3;
}