div {
    height: 100px;
    width: 100px;
    border: 1px solid green;


}

.clear1{
    float: left;
}

.clear2{
    margin: 0 auto;
}

.clear3{
    float: left;
}

.clear4{
    float: right;
}

.clear5{
    clear: both;
    margin: 0 auto;
}

.clear6{
    float: left;
}

.clear7{
    float: left;
}


.clear8{
    float: right;
}

.clear9{
     clear: both;
 }

.clear10{
    float: right;
}
