.products-wrapper{
    width: 1220px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.no-items{
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #7c7c7c;
    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}